<section class="bar background-white">
	<div class="container">
		<div class="col-md-12">
			<div class="row" ng-repeat="serviceGroup in service.list | chunkBy:3">
				<div class="col-md-4" ng-repeat="service in serviceGroup">
					<div class="box-simple">
						<div class="icon">
							<i class="fa fa-desktop"></i>
						</div>
						<h3>{{service.title.rendered}}</h3>
						<div class="contentPart" ng-bind-html="service.content.rendered"></div>
						<a ng-sref="{{service.link}}"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>